<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Walmart-Scale Production Regression" parallel="none">
    
    <listeners>
        <listener class-name="com.irfan.ecommerce.util.AnnotationTransformer" />
        <listener class-name="com.irfan.ecommerce.util.Listeners" />
    </listeners>

    <test name="E-Commerce Core Funnel Validation">
        <classes>
            <!-- TIER 1: Availability & Branding -->
            <class name="com.irfan.ecommerce.ui.tests.HomePageTest" />
            
            <!-- TIER 2: Data Integrity & Pricing -->
            <class name="com.irfan.ecommerce.ui.tests.ProductDetailTest" />
            
            <!-- TIER 3: Transactional Persistence & Cart Logic -->
            <class name="com.irfan.ecommerce.ui.tests.CartWorkflowTest" />

            <!-- TIER 4: Hybrid API-UI Teleport (The 1% Elite Move) -->
            <class name="com.irfan.ecommerce.ui.tests.CartHybridTest" />

            <!-- TIER 5: API Security & Idempotency -->
             <class name="com.irfan.ecommerce.api.tests.ApiValidationTest" />
             <class name="com.irfan.ecommerce.api.tests.IdempotencyTest" />
        </classes>
    </test>
</suite>
