<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Walmart-Scale Full-Stack Regression" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="com.irfan.ecommerce.util.AnnotationTransformer" />
        <listener class-name="com.irfan.ecommerce.util.Listeners" />
    </listeners>

    <test name="E-Commerce UI Core Funnel">
        <classes>
            <class name="com.irfan.ecommerce.ui.tests.HomePageTest" />
            <class name="com.irfan.ecommerce.ui.tests.LoginTest" />
            <class name="com.irfan.ecommerce.ui.tests.ProductDetailTest" />
            <class name="com.irfan.ecommerce.ui.tests.CartWorkflowTest" />
        </classes>
    </test>

    <test name="Restful-Booker API Validation">
        <packages>
            <package name="com.irfan.ecommerce.tests.api.restfulbooker" />
        </packages>
    </test>

</suite>