<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.splunk.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <File name="File" fileName="logs/automation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- FIXED Splunk HEC for GitHub Actions -->
        <SplunkHttp name="Splunk"
                    url="https://YOUR_SPLUNK_URL.splunkcloud.com:8088/services/collector"
                    token="${env:SPLUNK_TOKEN}"
                    index="selenium_logs"
                    source="demoblaze-github-actions"
                    sourcetype="_json"
                    disableCertificateValidation="false"
                    batch_size_count="1">
            <PatternLayout pattern='{"ci_run_id":"${env:RUN_ID}","level":"%p","class":"%C","method":"%M","message":"%m"}'/>
        </SplunkHttp>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Splunk"/>
        </Root>
    </Loggers>
</Configuration>
